<%= render 'welcome/nav_bar' %>

<div class="photo-block">
  <h2 class='showcase_header' id="wood">Wood Floor</h2>
  <% @photos_wood.each do |photo| %>
  <%= link_to image_tag(photo[:url], size: '200x200'),
       asset_path(photo[:url]), class: 'fancybox', rel: 'group', title: photo[:title], alt: 'Photo' %>
  <% end %>

  <h2 class="showcase_header" id="carpet">Carpet</h2>
  <% @photos_carpet.each do |photo| %>
    <%= link_to image_tag(photo[:url], size: '200x200'),
      asset_path(photo[:url]), class: 'fancybox', rel: 'group', title: photo[:title], alt: 'Photo' %>
  <% end %>

</div>
