<%= render 'welcome/nav_bar' %>

<div class="body container">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Wood</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% @photos_wood.each do |photo| %>
        <div class="col-lg-2 col-md-3 col-sm-4 col col-xs-6">
          <%= link_to image_tag(photo[:url]),
               asset_path(photo[:url]), class: 'fancybox thumbnail', rel: 'group', title: photo[:title], alt: 'Photo' %>
        </div>
        <% end %>
       </div>
     </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Carpet</h3>
        </div>
      </div>
    </div>

    <div class="row container">
      <% @photos_carpet.each do |photo| %>
        <div class="col-lg-2 col-md-3 col-sm-4 col col-xs-6">
          <%= link_to image_tag(photo[:url], size: '200x200'),
            asset_path(photo[:url]), class: 'fancybox thumbnail', rel: 'group', title: photo[:title], alt: 'Photo' %>
        </div>
      <% end %>
    </div>

</div>
