<%= render 'nav_bar' %>
<div class="page-header">

  <h1 align="center">Justin Floors Inc.</h1>
</div>

<!--<div class="containter">-->
  <div class="row">

    <div class="col-sm-3">
      <div class="panel panel-primary">

          <div class="panel-heading panel-info">
          <h3 class="panel-title" align="center"><a href="/about">About Justin Floors</a></h3>
          </div>

        <div class="panel-body">
          <p>Justin Glasenapp has x year working in the roaring fork valley selling quality flooring products...</p>
          <%= link_to image_tag('justin_batman.jpg', size: '250x300', align: 'center'), '/about' %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading panel-info">
          <h3 class="panel-title" align="center"><a href="/showcase">Showcase</a></h3>
        </div>
        <div class="panel-body">
          <%= link_to image_tag('wood_5_kitchen.jpg', align: 'center', size: '220x220'), '/showcase' %>
          <%= link_to image_tag('carpet_2.jpg', align: 'center', size: '220x220') , '/showcase' %>

        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading panel-info">
          <h3 class="panel-title" align="center"><a href="/contact">Contact</a></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>phone: 970-618-2380</li>
            <li>email: justintime6955@msn.com</li>
          </ul>
        </div>
      </div>
    </div>


  </div>
<!--</div>-->
