<div class="header"><br><h1 id="company_name">Justin Floors Inc.</h1><br></div>


<div class="b">

  <div class="boxes" id="about">
    <a href="/about"><h3  class="link_box" align="center">About Justin Floors</h3>
    <p  class="link_box">Justin Glasenapp has x year working in the roaring fork valley selling quality flooring products...</p>
    <%= link_to image_tag('justin_batman.jpg', size: '250x300', align: 'center'), '/about' %></a>
  </div>

  <a href="/showcase"><div class='boxes' id="showcase">
    <h3 align="center">Showcase</h3>
      <%= link_to image_tag('wood_5_kitchen.jpg', align: 'center', size: '220x220') , '/showcase' %>
      <%= link_to image_tag('carpet_2.jpg', align: 'center', size: '220x220') , '/showcase' %>

  </div></a>

  <a href="/contact"><div class='boxes' id="contact">
    <h3 align="center">Contact Justin Floors at:</h3>
    <ul>
      <li>phone: 970-618-2380</li>
      <li>email: justintime6955@msn.com</li>
    </ul>
  </div></a>
</div>
