<%= render 'nav_bar' %>
<div class="page-header container">

  <!-- Single button -->
  <div class="btn-group btn-primary testimonial_button">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Testimonials <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/testimonials">Read Testimonials</a></li>
      <li><a href="/testimonials/new">Write a Testimonial</a></li>
    </ul>
  </div>


  <!--<a href="/testimonials">-->
    <!--<button type="button"class="btn btn-primary testimonial_button">Testimonials</button>-->
  <!--</a>-->

  <h1 align="center" class="title_justin">Justin Floors Inc.</h1>
</div>

<body>
<!-- this makes the dropdown buttons work -->
<script>
  $('.dropdown-toggle').dropdown();
</script>

  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="panel panel-info ">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/about">About Justin Floors</a></h3>
          </div>
          <div class="panel-body">
            <p>Justin Glasenapp has been working for x years working in the roaring fork valley selling quality flooring products...</p>
            <p><a href="/about">(click for more)</a></p>
            <div class="row">
              <div class="col-xs-12">
                <%= link_to image_tag('justin_portrait.jpg', size: '250x300', align: 'center'), '/about', class: 'thumbnail' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/showcase">Showcase</a></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <%= link_to image_tag('wood_5_kitchen_demo.jpg', align: 'center', size: '220x220'), '/showcase', class: 'thumbnail image_bg' %>
              </div>
              <div class="col-xs-12">
                <%= link_to image_tag('carpet_4.jpg', align: 'center', size: '220x220') , '/showcase', class: 'thumbnail' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading panel-info">
            <h3 class="panel-title dumb" align="center"><a href="/contact">Contact</a></h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>phone: 970-618-2380</li>
              <li>email: justintime6955@msn.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
