<div class="header"><br><h1>Justin Floors Inc.</h1><br></div>


<div class="footer">

  <%= link_to 'Contact', '/contact' %>
  <%= link_to 'Photos' , '/showcase' %>
  <%= link_to 'View Products', '/products' %>
</div>
