<%= render 'welcome/nav_bar' %>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 align="center">About Justin Floors Inc</h3>
    </div>

    <div class="panel-body">
      <p>Here is a great place for a paragraph explaining
         stuff about Justin Floors and yourself. You can
         put whatever stuff you want in here. Just email me
         a paragraph to insert here.
      </p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= image_tag('justin_with_kids_sm.jpg', size: '500x400', align: 'center', class: 'thumbnail') %>
      </div>
    </div>
  </div>
</div>
