<%= render 'welcome/nav_bar' %>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 align="center">About Justin Floors Inc</h3>
    </div>

    <div class="panel-body">
      <p>Justin Glasenapp has been in the Roaring Fork Valley for 37 years and selling
        flooring for 20 years. We have high quality installers
        and the best products at very competitive prices. What sets
        Justin floors apart is that you get a flooring guide;
        someone who really cares about your home and your experience.
        We have the experience and the products to ensure you get an
        amazing floor and that you are satisfied with the process.
        We have built an amazing reputation and hope that you
        recommend us to all you friends!
      </p>
      <p>If you are already a customer, please consider writing a testimonial
      by clicking <a href="/testimonials/new"><strong>Here.</strong></a></p>
      <p>When not selling flooring products, Justin spends time with his kids Devvon and Emily,
        who are both rockstar students, athletes and artists.
      </p>

      <!-- pictures -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= image_tag('justin_with_kids_sm.jpg', size: '425x300', class: 'thumbnail') %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <%= image_tag('justin_sales.jpg', size: '425x300', class: 'thumbnail') %>
        </div>
      </div>
    </div>
  </div>
</div>
