<%= render 'welcome/nav_bar' %>
<div class="container col-md-3">
  <ul class="list-group">
    <li class="list-group-item">phone: 970-618-2380</li>
    <li class="list-group-item">email: justintime6955@msn.com</li>
    <li class="list-group-item">anything else I should put on this page?</li>
    <li class="list-group-item">I could remove this page entirely since your contact info is on the home page. up to you</li>
  </ul>

</div>
