<%= render 'welcome/nav_bar' %>
<div class="row container">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item">phone: 970-618-2380</li>
      <li class="list-group-item">email: justintime6955@msn.com</li>
      <li class="list-group-item">Showroom: 1117 Village Rd. Carbondale, CO.</li>
      <li class="list-group-item list-group-item-info"><strong>We also bring mobile samples to your home and estimate service. Just call or email to set up an appointment!</strong></li>
    </ul>
  </div>

  <div class="col-md-6">
    <iframe width="600" height="450" frameborder="5" style="border:5"
            src="https://www.google.com/maps/embed/v1/place?q=1117+Village+Road,+Carbondale,+CO,+United+States&key=AIzaSyAErha9vXXK2NKttZn3L05tmL2OmcXLqD8"></iframe>
  </div>

</div>
