<div class="page-header container">
  <%= link_to @testimonial, class: 'btn btn-primary testimonial_button dumb2' do %>
    Back
    <% end %>

  <h1 align="center" class="title_justin">Edit your Statement</h1>
</div>

<div class="container">
  <%= render 'form' %>
