<%= render 'welcome/nav_bar' %>

<div class="page-header container">
  <a href="/testimonials/new">
    <div class="btn btn-primary testimonial_button">Write a Testimonial</div>
   </a>
  <h1 align="center" class="title_justin">Testimonials</h1>

  <%= will_paginate @testimonials, renderer: BootstrapPagination::Rails %>
</div>


<ul class="list-group container">
  <% @testimonials.each do |testimonial| %>
  <li class="list-group-item">
    "<%=testimonial.testimonial %>"
    <em class="signature">-<%= testimonial.name %></em>
  </li>

    <!-- uncomment below to edit and delete testimonials -->
  <!--<li>-->
    <!--<%# link_to 'Edit', edit_testimonial_path(testimonial) %>-->
    <!--<%# link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>-->
  <!--</li>-->
    <% end %>
</ul>
